@model WebAppProject3.Models.LinkModel[]

@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="h1 text-center my-5">_LaunchPad</h1>
    @* if the user is on mobile screen, display subsections of linlSection flex col, if not mobile, display flex row *@
    <section id="linksDashboardSection" class="d-flex flex-sm-row flex-column justify-content-around gap-5 mx-auto">
        @* for each of the categories in enum, div with title as enum Category *@

        @foreach (var category in @ViewBag.Categories)
        {
            <div class="linkCategory">
                <div class="d-flex flex-row gap-2 my-1">
                    <h2 class="h4"> @category.CategoryName </h2>

                    @* if is authenticated, display the add and edit buttons *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Create" asp-controller="NewLink" asp-route-categoryId="@category.CategoryId">
                            <img src="~/svg/plus-circle.svg" width="20" height="20" />
                        </a>

                        <a asp-action="Edit" asp-controller="Category" asp-route-id="@category.CategoryId">
                            <img src="~/svg/pencil-fill.svg" width="20" height="20" />
                        </a>
                    }
                           

                </div>
                @* <p>@ViewBag.LinkLabels[0]</p> *@

                <p class="linkSeparator2 my-3"></p>
                <h4 class="h5">Pinned Items</h4>
                
                @* for each of the links in the model, if the link category matches the current category, display the link 
                    iterate using object item and index
                *@
                @foreach (var index in Enumerable.Range(0, ViewBag.Links.Length))
                {
                    
                    @if (ViewBag.Links[index].LinkCategory.CategoryName.ToString() == category.CategoryName.ToString() && ViewBag.Links[index].IsPinned == true)
                    {
                        @* if the item above has a different label, display the label *@
                        @if (index > 0 && ViewBag.Links[index].LinkLabel != ViewBag.Links[index - 1].LinkLabel)
                        {
                            <p class="linkSeparator2 h6 my-3"></p>
                            <p class="linkLabel h6">@ViewBag.Links[index].LinkLabel</p>
                        }
                        else if (index == 0)
                        {
                            <p class="linkLabel h6">@ViewBag.Links[index].LinkLabel</p>
                        }

                        <div class="d-flex flex-row gap-1 justify-content-between">
                            <div>
                                <img src="@ViewBag.Links[index].FaviconSrc" width="25" height="25" />
                                <a href="@ViewBag.Links[index].LinkHref">@ViewBag.Links[index].LinkName</a>


                            </div>
                            <div>
                                @* if is authenticated, display the add and edit buttons *@
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="https://google.com/">
                                        <img src="~/svg/pencil-fill.svg" width="20" height="20" />
                                    </a>
                                    <a href="https://google.com/">
                                        <img src="~/svg/trash3-fill.svg" width="20" height="20" />
                                    </a>
                                }
                            </div>

                        </div>
                    }
                }
                
                <p class="linkSeparator my-3"></p>

                @foreach (var index in Enumerable.Range(0, ViewBag.Links.Length))
                {
                    @if (ViewBag.Links[index].LinkCategory.CategoryName.ToString() == category.CategoryName.ToString() && ViewBag.Links[index].IsPinned == false)
                    {
                        @* if the item above has a different label, display the label *@
                        @if (index > 0 && ViewBag.Links[index].LinkLabel != ViewBag.Links[index - 1].LinkLabel)
                        {
                            <p class="linkSeparator my-3"></p>
                            <p class="linkLabel h6">@ViewBag.Links[index].LinkLabel</p>
                        } else if (index == 0)
                        {
                            <p class="linkLabel h6">@ViewBag.Links[index].LinkLabel</p>
                        }

                        <div class="d-flex flex-row gap-1 justify-content-between">
                            <div>
                                <img src="@ViewBag.Links[index].FaviconSrc" width="25" height="25" />
                                <a href="@ViewBag.Links[index].LinkHref">@ViewBag.Links[index].LinkName</a>
                                

                            </div>
                            <div>
                                @* if is authenticated, display the add and edit buttons *@
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="https://google.com/">
                                        <img src="~/svg/pencil-fill.svg" width="20" height="20" />
                                    </a>
                                    <a href="https://google.com/">
                                        <img src="~/svg/trash3-fill.svg" width="20" height="20" />
                                    </a>
                                }
                            </div>
                            
                        </div>
                    }
                }

            </div>
        }
    </section>
    
</div>
