@model WebAppProject3.Models.LinkModel[]

@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="h1 text-center my-5">_LaunchPad</h1>
    @* if the user is on mobile screen, display subsections of linlSection flex col, if not mobile, display flex row *@
    <section id="linksDashboardSection" class="d-flex flex-sm-row flex-column justify-content-around gap-5 mx-auto">
        @* for each of the categories in enum, div with title as enum Category *@

        @foreach (var category in @ViewBag.Categories)
        {
            <div class="linkCategory">
                <div class="d-flex flex-row gap-2 my-1">
                    <h2 class="h4"> @category.CategoryName </h2>

                    @* if is authenticated, display the add and edit buttons *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Create" asp-controller="NewLink" asp-route-categoryId="@category.CategoryId">
                            <img src="~/svg/plus-circle.svg" width="20" height="20" />
                        </a>

                        <a asp-action="Edit" asp-controller="Category" asp-route-id="@category.CategoryId">
                            <img src="~/svg/pencil-fill.svg" width="20" height="20" />
                        </a>
                    }
                           

                </div>
                @* <p>@ViewBag.LinkLabels[0]</p> *@

                <p class="linkSeparator2 my-3"></p>
                <h4 class="h5">Pinned Items</h4>
                
                @* for each of the links in the model, if the link category matches the current category, display the link 
                    iterate using object item and index
                *@
                
                @foreach (var index in Enumerable.Range(0, ViewBag.Links.Length))
                {
                    @if (ViewBag.Links[index].LinkCategory.CategoryName.ToString() == category.CategoryName.ToString() && ViewBag.Links[index].IsPinned == true)
                    {

                        <div class="d-flex flex-row gap-1 ">
                            @* if is authenticated, display the add and edit buttons *@
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="LinkAdmin" asp-action="Edit" asp-route-linkId="@ViewBag.Links[index].LinkId" asp-route-categoryId="@category.CategoryId">
                                    <img src="~/svg/pencil-fill.svg" width="20" height="20" />
                                </a>
                                <a asp-controller="LinkAdmin" asp-action="Delete" asp-route-linkId="@ViewBag.Links[index].LinkId" asp-route-categoryId="@category.CategoryId">
                                    <img src="~/svg/trash3-fill.svg" width="20" height="20" />
                                </a>
                            }

                            <img src="@ViewBag.Links[index].FaviconSrc" width="25" height="25" />
                            <a href="@ViewBag.Links[index].LinkHref">@ViewBag.Links[index].LinkLabel</a>

                        </div>
                    }
                }

                @* only display the separator if there are pinned links in this category *@
                @foreach (var link in ViewBag.Links)
                {
                    // for each of the link elements, we will find distinct categories and add them to the ViewBag if they have pinned links, break the loop if we find a category with pinned links
                    
                    @if (link.LinkCategory.CategoryName == category.CategoryName && link.IsPinned == true)
                    {
                        <p class="linkSeparator my-3"></p>
                        break;
                    }
                
                }
                
                @foreach (var index in Enumerable.Range(0, ViewBag.Links.Length))
                {
                    @if (ViewBag.Links[index].LinkCategory.CategoryName.ToString() == category.CategoryName.ToString() && ViewBag.Links[index].IsPinned == false)
                    {
                        <div class="d-flex flex-row gap-1 ">
                            @* if is authenticated, display the add and edit buttons *@
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="LinkAdmin" asp-action="Edit" asp-route-linkId="@ViewBag.Links[index].LinkId" asp-route-categoryId="@category.CategoryId">
                                    <img src="~/svg/pencil-fill.svg" width="20" height="20" />
                                </a>
                                <a asp-controller="LinkAdmin" asp-action="Delete" asp-route-linkId="@ViewBag.Links[index].LinkId" asp-route-categoryId="@category.CategoryId">
                                    <img src="~/svg/trash3-fill.svg" width="20" height="20" />
                                </a>
                            }

                            <img src="@ViewBag.Links[index].FaviconSrc" width="25" height="25" />
                            <a href="@ViewBag.Links[index].LinkHref">@ViewBag.Links[index].LinkLabel</a>
                            
                        </div>
                    }
                }

            </div>
        }
    </section>
    
</div>
